- contents = ["マイページ"  ,"いいね一覧","出品する"        ,"出品した商品","購入した商品","評価一覧","発送元・お届け先変更","支払い方法","ログアウト"               ]
- links    = [user_path(1),""         ,new_product_path,""          ,""          ,""       ,""                ,""         ,destroy_user_session_path]
- method   = ["get"       ,""         ,"get"           ,""          ,""          ,""       ,""                ,""         ,"delete"                ]

= render "layouts/header"
.show-users-wrapper
  .show-users-wrapper__center
    .show-users-wrapper__center__left-content
      - contents.each.with_index(0) do |content,i|
        = link_to links[i], method: method[i],class: "show-users-wrapper__center__left-content__box" do
          = content
    .show-users-wrapper__center__right-content
      = image_tag "2999105_m.jpg", class:"show-users-wrapper__center__right-content__image"
      = image_tag "u4vzSnv__400x400.jpg", class:"show-users-wrapper__center__right-content__user-image"
      .show-users-wrapper__center__right-content__user-name
        令和の織田信長(本物)
        %div
          評価12
          出品20
      .show-users-wrapper__center__right-content__title-wrapper
        .show-users-wrapper__center__right-content__title-wrapper__title.active
          お知らせ
        .show-users-wrapper__center__right-content__title-wrapper__title
          やることリスト
      .show-users-wrapper__center__right-content__contents
        事務局からの個別メッセージ（FaceBook通知)
      .show-users-wrapper__center__right-content__contents
        事務局からの個別メッセージ「500円分ポイントが届きました！」
      .show-users-wrapper__center__right-content__view-list
        一覧を見る
= render "layouts/footer"